<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hankutech.ai.face.service.db.FaceLibraryMapper">
  <resultMap id="BaseResultMap" type="com.hankutech.ai.face.service.db.FaceLibrary">
    <!--@mbg.generated-->
    <!--@Table ai_server_face_cpu.face_library-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="product_id" jdbcType="INTEGER" property="productId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="description" jdbcType="VARCHAR" property="description" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, product_id, `name`, description
  </sql>
</mapper>